Backend/EmitterPersonalAccount.API/.vs/
Backend/EmitterPersonalAccount.API/bin/
Backend/EmitterPersonalAccount.API/obj/

Backend/EmitterPersonalAccount.Core/bin/
Backend/EmitterPersonalAccount.Core/obj/