# Игнорировать папку .vs во всех подкаталогах
**/.vs/

# Игнорировать папки bin и obj во всех подкаталогах
**/bin/
**/obj/

# Игнорировать файлы пользовательской настройки Visual Studio
*.user
*.suo
*.userprefs

# Игнорировать папку node_modules (если есть фронтенд на Node.js)
**/node_modules/

# Игнорировать файлы окружения
#.env
.env.local

# Игнорировать логи и временные файлы
*.log
*.tmp